<app-header></app-header>

<div class="d-flex h-100 align-items-center justify-content-center">
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col"></div>
      <div class="col-6"> -->
        <mat-card class="login">
          <form [formGroup]="fromgroup" class="d-flex flex-column">
            <mat-form-field>
              <input matInput placeholder="email" formControlName="email">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <div>
              <button mat-raised-button color="primary" (click)="login()" >เข้าสู่ระบบ</button>
            </div>
          </form>
        </mat-card>
      <!-- </div>
      <div class="col"></div>
    </div>
  </div> -->
</div>

  








