<app-header></app-header>

<div class="d-flex h-100 align-items-center">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <mat-card class="DataMerchant">
          <span>
            <h5>ข้อมูลร้านค้า</h5>
          </span>
          <form class="d-flex flex-column">
            <mat-form-field class="Name">
              <input matInput placeholder="ชื่อ - นามสกุล" value="">
            </mat-form-field>

            <mat-form-field class="Address">
              <input type="tel" matInput placeholder="ที่อยู่">
            </mat-form-field>

            <mat-form-field class="Email">
              <input type="tel" matInput placeholder="อีเมล">
            </mat-form-field>

            <mat-form-field class="NumberPhone">
              <input type="number" matInput placeholder="เบอร์โทร">
            </mat-form-field>
          </form>
        </mat-card>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>