<div>
  <mat-toolbar color="primary">
    <div>ร้านค้า</div>
    <div class="ml-auto d-flex">
      <div routerLink="/">เข้าสู่ระบบ</div>
      <div>|</div>
      <div routerLink="/login">ลงทะเบียน</div>
    </div>
  </mat-toolbar>
</div>

<div class="d-flex h-100 align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <mat-card class="register">
          <div>ลงทะเบียน</div>
          <form class="d-flex flex-column">
            <mat-form-field>
              <input matInput placeholder="อีเมล">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="รหัสผ่าน" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="ยืนยันรหัสผ่าน" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <div>
              <button mat-raised-button color="primary">ลงทะเบียน</button>
            </div>
          </form>
        </mat-card>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
